body {
	width: 300px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px 5px;
}
.container :first-child{
  align-self: center;
}
.box {
  font-size: 30px;
  border: 2px solid #666;
  background-color: #ddd;
  cursor: move;
  width: 60px;
  height: 40px;
  text-align: center;
  top: 50%;
  padding: 20px;
}
.box.over {
  border: 2px dashed #666;
}
